/* Type Selectors ------------------ */
body {
  text-align: center;
  margin: 0;
  font-family: "Arial Black", Gadget, sans-serif;

}

p {
  font-family: "Arial", Gadget, sans-serif;

}

/*body ol, ul {
  font-family: "Arial", Gadget, sans-serif;
  list-style-type: none;
}*/


div {
  padding: 30px;
  margin: 20px;
}

.meaghan {
  width: 50%;
  height: auto
}
/* Pseudo-classes ------------------ */
/* ID Selectors -------------------- */

/* Class Selectors ----------------- */


.main-header {
  background-color: #ff1d8e;
  padding-bottom: 15px;
  padding-top: 55px;
  color:white;
}

.left, .center, .right {
  float: left;
  width: 33.1%;
  height: 200px;
  background-color: #ff1d8e;
  border-radius: 25px;
  color:white;
  margin:1%
}




.title {
  color: white;
  font-size: 100px;
  font-weight: 900px;
  color:white;
}

/*.carousel {
  max-height: 700px;
  overflow: hidden;
}*/

.carousel-inner .item img {
    margin: 0 auto;
}

.carousel-indicators {
  bottom:0;
}
